# Grupowanie danych

##

In [1]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

### .describe()
Opisuje wszystkie wyrażenia liczbowe w df, według ilości, średniej, sumy itp.

In [ ]:
pd.describe()

#### Ręczne grupowanie dzięki pętli for

In [ ]:
countries = df['Retailer country'].nunique()

In [ ]:
myOwnGroups = {}

In [ ]:
for country in countries:
    myOwnSubDataFrame = df.where(df["Retailer country"] == country).dropna()
    myOwnGroups[country] = myOwnSubDataFrame

In [ ]:
myOwnGroups

In [ ]:
myOwnGroups["Belgium"].head()

## Ćwiczenie 
wprwadzenie do grupowania

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.value_counts()

In [ ]:
df.unique()

In [ ]:
df.nunique()

In [ ]:
cities = df['City'].unique()

In [ ]:
groups = {}

In [ ]:
for city in cities:
    subList = df.where(df['City'] == city).dropna()
    groups[city] = subList

In [ ]:
for city in cities:
    tmp_df = df.loc[df['city'] == city]
    groups[city] = tmp_df

In [ ]:
groups['San Francisco'].describe()

In [ ]:
groups['Addis Ababa'].describe()

## .groupby()
<br> - podajemy, którą kolumnę lub wiersz ma przeszukać 
<br> - 0 - wiersze 1 - kolumny
Grupowanie danych względem takich samych wartości w kolumnach

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

In [ ]:
groups = df.groupby(by='Retailer country')

In [ ]:
type(groups)

In [ ]:
len(groups)

In [ ]:
groups.size()             # wynik bardzo podobny co w .value_counts()

### .first()
Wyciąga tylko pierwszy wiersz z każdej grupy

In [ ]:
groups.first().head()

To samo co:

In [ ]:
df[df['Retailer country'] == 'Australia'].head(1)     # i tak z każdym krajem

### .last()
Pokazuje ostatni element z każdej grupy

In [ ]:
groups.last().head()

### .groups
pokazuje jakie grupy są w grupie

In [ ]:
groups.groups

In [ ]:
df.loc[groups.groups['Belgium']].head()

### .get_group()
Wyświetla df z danymi z podanym kluczem

In [4]:
groups.get_group('Belgium').head()

<class 'NameError'>: name 'groups' is not defined

## Ćwiczenie 
metoda groupby

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
group_city = df.groupby(by = 'City')

In [ ]:
group_city.groups

In [ ]:
group_city.get_group('San Francisco').head()

In [ ]:
group_city.get_group('San Francisco')['40K']

In [ ]:
group_city.get_group('San Francisco')['40K'].mean()

In [ ]:
group_city.get_group('34-120 Andrychow')['40K'].mean()

In [ ]:
group_city.first()

In [ ]:
group_age = df.groupby(by='Age')

In [ ]:
group_age.get_group(20)['40K'].mean()

In [ ]:
group_age.get_group(40)['40K'].mean()

In [ ]:
group_age.first()

## Agregacje
Obliczenia na grupie

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

In [ ]:
groups = df.groupby(by='Retailer country')

In [ ]:
groups.mean().head()            # wylicza wartości śr. dla wszystkich możliwych kolumn w grupie

In [ ]:
groups.sum().head()           # wylicza sumy dla wszystkich możliwych kolumn w grupie

In [ ]:
groups.count().head()           # wylicza ilość wystąpień dla wszystkich kolumn

In [ ]:
groups.min().head()            # wylicza wartości min dla każdego elementu w grupie dla każdej kolumny

In [ ]:
groups.max().head()             # wylicza wartości max dla każdego elementu w grupie dla każdej kolumny

Powyższe metody dla konkretnych kolumn

In [ ]:
groups['Revenue'].sum().head()

In [ ]:
groups[['Revenue','Quantity']].sum().head()

## Ćwiczenie 
Agregacje

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
group_city = df.groupby(by='City')

In [ ]:
group_city.mean().head()

In [ ]:
group_city[['TotalSeconds','HalfSeconds']].mean().head()

In [ ]:
group_city['TotalSeconds'].sum().head()

In [ ]:
group_age = df.groupby(by='Age')

In [ ]:
group_age.count().head()

In [ ]:
group_age['TotalSeconds'].count().head()

## Grupowanie a multiindex
.groupby z większą ilością kolumn, z których powstaną indexy

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

In [ ]:
groups = df.groupby(by=["Retailer country","Year"])

In [ ]:
groups.size().head(10)

In [ ]:
groups.sum().head(10)

Wydobywanie danych z groupby z multiindexem

In [ ]:
groups.get_group(("Australia",2012)).head()

## Ćwiczenie 
Groupby i index

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
country_city = df.groupby(["Country", "City"])             # by= ?

In [ ]:
country_city.size().head(10)

In [ ]:
country_city.mean().head(10)

In [ ]:
country_city.get_group(("USA","San Francisco")).head(10)

In [ ]:
sex_age = df.groupby(by=["M/F","Age"])

In [ ]:
sex_age.size().head(10)

In [ ]:
sex_age.mean().head(10)

In [ ]:
sex_age.get_group(("M",25)).head(10)

## Metoda agg()

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

In [ ]:
groups = df.groupby(by=["Retailer country","Year"])

#### .agg()
({'kolumna' : 'działanie, które chcemy wykonać'})
<br> pozwala zrobic jeden wynik w postaci DF z danymi, wyliczonymi z różnych kolumn, dzieki różnym działaniom

In [ ]:
groups['Revenue'].sum()               # to jest to samo co:

In [ ]:
groups.agg({'Revenue' : 'sum'}).head()

In [5]:
groups.agg({'Revenue' : 'sum', 
           "Quantity" : "sum", 
           "Gross margin" : "mean"}).head()

<class 'NameError'>: name 'groups' is not defined

In [ ]:
groups.agg({'Revenue' : ['sum', 'min', 'max'], 
           "Quantity" : ['sum', 'min', 'max'], 
           "Gross margin" : 'mean'}).head()

Mozna określić zmienną z listą z  działaniami jakie chcemy wykonać i wpisać do funkcji .agg()

In [ ]:
my_agg = ['sum', 'min', 'max']

In [ ]:
groups.agg({'Revenue' : my_agg, 
           "Quantity" : my_agg, 
           "Gross margin" : 'mean'}).head()

## Ćwiczenie 
metoda agg()

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
sex_age = df.groupby(["M/F", "Age"])

In [ ]:
sex_age.agg({"TotalSeconds" : "mean",
             "HalfSeconds" : "mean"}).head()

In [ ]:
sex_age.agg({"TotalSeconds" : "sum",
             "HalfSeconds" : "sum"}).head()

In [ ]:
sex_age.agg({"TotalSeconds" : ["mean", "sum"],
             "HalfSeconds" : ["mean", "sum", "count"]}).head()

In [ ]:
functions = ["mean", "sum", "count"]

In [ ]:
sex_age.agg({"TotalSeconds" : functions,
             "HalfSeconds" : functions}).head()

## Przetwarzanie danych z obiektu grupy
Jeżeli nie mamy dostępnej gotowej funkcji to używamy umiejętności programistycznych

In [ ]:
df = pd.read_csv("./data/WA_Sales_Products_2012-2014.csv")
df.head()

In [ ]:
groups = df.groupby(by="Retailer country")

In [ ]:
for country in groups:
    print(country[0])                   # pod indexem 0 jest nazwa kraju (Retailer country), a pod indexem 1 są pozostałe wartości

lub

In [ ]:
countryNames = []
for country in groups:
    countryNames.append(country[0])

In [ ]:
countryNames

Wyświetlamy wartości pod indexem 1

In [ ]:
for country in groups:
    print(country[1])

Wyświetlamy nazwę kraju i obok ilość wierszy z tego kraju

In [ ]:
for country in groups:
    print(country[0], len(country[1]))

Dwie zmienne w pętli for

In [ ]:
for country, country_data in groups:
    print(country, len(country_data))        # podając dwie zmienne index[0] to caountry, a index[1] to country_data

Różnica pomiędzy najwyższą i najniższą tranzakcją w danym kraju

In [ ]:
for country, country_data in groups:
    print(country, country_data['Revenue'].max() - country_data['Revenue'].min()

Szukanie największej tranzakcji i na którym indexie się znajduje

In [ ]:
for country, country_data in groups:
    print(country, country_data['Revenue'].max(), country_data['Revenue'].idxmax())

Wyświetlenie całego wiersza

In [ ]:
for country, country_data in groups:
    print(country, 
          country_data['Revenue'].max(),
          country_data['Revenue'].idxmax())
          country_data.loc[country_data['Revenue'].idxmax()])

Budowanie nowego DF

In [ ]:
theBiggest = pd.DataFrame()

In [ ]:
for country, country_data in groups:
    theBiggest = theBiggest.append(country_data.loc[country_data['Revenue'].idxmax()])

In [ ]:
theBiggest.head()

To samo korzystając z funkcji .nlargest()

In [ ]:
for country, country_data in groups:
    theBiggest = theBiggest.append(country_data.nlargest(1, "Revenue"))

## Ćwiczenie 
przetwarzanie obiektu grupy

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [ ]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
 'State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

In [ ]:
group_city = df.groupby(by='City')

In [ ]:
for city in group_city:
    print(country[0])

In [ ]:
for city in group_city:
    print(country[0],len(country[1]))

In [ ]:
for city in group_city:
    print(country[0],len(country[1]))

In [ ]:
for city, city_data in group_city:
    print(country, len(city_data))

In [ ]:
for city, city_data in group_city:
    print(country, 
          city_data['TotalSeconds'].min())   # lub ... , city_data.nsmallest(1, 'TotalSeconds'))

In [ ]:
the_best_per_city = pd.DataFrame()

In [ ]:
for city, city_data in group_city:
    the_best_per_city = the_best_per_city.append(city_data.loc[city_data['TotalSeconds'].idxmax()])